@media only screen and (orientation: landscape) {

    html,
    body {
        display: block;
        margin: 0;
        width: 100%;
        height: 92vh;
        min-width: 800px;
        min-width: 800px;
    }

    .totalBody {
        display: block;
        margin: 0;
        width: 100vw;
        height: 100vh;
    }

    .aboutUs {
        width: calc(100vw * 0.7);
        height: calc(100vw * 0.4);
        margin-left: 15%;
        margin-top: 3%;
    }

    .us {
        display: inline-block;
        width: calc(100vw * 0.4);
        height: 100%;
        margin: 0;
    }

    .ourPic {
        display: inline-block;
        width: calc(100vw * 0.25);
        height: calc(100vw * 0.25);
        margin-left: calc(100vw * 0.7 * 0.4 * 0.25);
        margin-top: calc(100vw * 0.92 * 0.4 * 0.25 * 0.4);
        border-radius: 50%;
    }

    .ourDetails {
        display: inline-block;
        width: 80%;
        margin-left: 10%;
        margin-top: calc(100vw * 0.92 * 0.4 * 0.25 * 0.15);
        height: calc(100vw * 0.05);
        text-align: center;
    }

    .ourPerks {
        display: block;
        width: calc(100vw * 0.30 - 2px);
        height: 100%;
        float: right;
    }

    .perk {
        display: inline-block;
        height: 25%;
        width: 100%;
        margin-top: 1vw;
    }

    .perkPic {
        display: inline-block;
        height: 100%;
        width: calc(100vw * 0.4 * 0.25);
        border-radius: 50%;
    }

    .perkDetail {
        display: block;
        height: 50%;
        width: calc(100vw * 0.4 * 0.4);
        margin-top: 10%;
        margin-right: calc(100vw * 0.4 * 0.05);
        float: right;
    }
}

@media only screen and (orientation: portrait) {

    html,
    body {
        display: block;
        margin: 0;
        width: 100%;
        height: 92vh;
    }

    .totalBody {
        display: block;
        margin: 0;
        width: 100vw;
        height: 100vh;
    }

    .aboutUs {
        width: 80%;
        height: 85%;
        margin-left: 10%;
        margin-top: 3%;
    }

    .us {
        display: inline-block;
        width: 100%;
        height: calc(100vw * 0.8* 0.65);
        margin: 0;
    }

    .ourPic {
        display: inline-block;
        width: 50%;
        height: calc(100vw * 0.8 * 0.5);
        margin-left: calc(100vw * 0.8 * 0.25);
        margin-top: 3vw;
        border-radius: 50%;
    }

    .ourDetails {
        display: inline-block;
        width: 100%;
        margin-top: 3vw;
        height: calc(100vw * 0.05);
        text-align: center;
    }

    .ourPerks {
        display: block;
        width: 100%;
        height: 40%;
        float: right;
    }

    .perk {
        display: inline-block;
        height: 100%;
        width: 32%;
        margin-top: 1vw;
    }

    .perkPic {
        display: inline-block;
        height: calc(100vw * 0.8 * 0.32 * 0.75);
        width: 75%;
        margin-left: 12.5%;
        border-radius: 50%;
    }

    .perkDetail {
        display: block;
        height: 30%;
        width: 100%;
        text-align: center;
    }
}

.ourPic {
    background-image: url(../Pictures/employees.webp);
    background-size: cover;
    background-position-x: 20%;
}

.p1 {
    background-image: url(../Pictures/Trust.webp);
    background-size: cover;
    background-position-x: 40%;
}

.p2 {
    background-image: url(../Pictures/CostControl.webp);
    background-size: cover;
    background-position-x: 40%;
}

.p3 {
    background-image: url(../Pictures/CustomerLoyalty.webp);
    background-size: cover;
    background-position-x: 40%;
}

body {
    font-family: "Nunito", sans-serif;
}